@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .screen {
    @apply xl:px-[10rem] lg:px-8 px-4
  }
}

body {
  background: rgba(0, 3, 87, 1);
  background: radial-gradient(farthest-corner at 50% -50%, #30bbbe, #000357),
    radial-gradient(ellipse at center, #000357, transparent),
    radial-gradient(ellipse at bottom, #000357, #00023b);
  color: rgb(241, 245, 249);
}

/* Overlapped Titles component */
.overlap {
  --overlap: .15ch;
  --shadow-offset: .1ch;
  --shadow-blur: .2ch;
  --shadow-color: black;
  letter-spacing: calc(var(--overlap) * -0.8);
  isolation: isolate;
}

.overlap-front {
  --mult: 1;
}

.overlap:hover {
  --mult: -1;
}

.overlap>span {
  position: relative;
  z-index: calc(var(--index, 1) * var(--mult, 1));
}

.overlap-front {
  text-shadow:
    calc(var(--mult, 1) * var(--shadow-offset, 0) * -1) 0 var(--shadow-blur, 0) var(--shadow-color, black);
}

/* Slide in from right animation */
@keyframes slideInRight {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(100);
    opacity: 1;
  }
  }
  @-moz-keyframes slideInRight {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(100);
      opacity: 1;
    }
  }
  @-webkit-keyframes slideInRight {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(100);
      opacity: 1;
    }
  }
  
  @-o-keyframes slideInRight {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(100);
      opacity: 1;
    }
  }
  
  @-ms-keyframes slideInRight {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(100);
      opacity: 1;
    }
  }

.slideFromRight {
  overflow: hidden;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation: slideInRight 5s;
  -webkit-animation: slideInRight 5s;
  -moz-animation: slideInRight 5s;
  -o-animation: slideInRight 5s;
  -ms-animation: slideInRight 5s;
}