@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .screen {
    @apply xl:pt-28 xl:px-28 lg:pt-28 lg:px-28 md:pt-28 md:px-20 px-8 pb-28 pt-8
  }
}

html {
  font-family: 'Satoshi', sans-serif;
}

/* Used for responsive navbar & footer */
:root {
  --nav-height: 7rem;
}

/* BACKGROUNDS */
body {
  background: 
  radial-gradient(circle at 20% 10%, #1e177d 0%, #000010 20%),
  radial-gradient(circle at 80% 10%, #8b22e7 0%, #000010 20%),
  #000010;
background-blend-mode: lighten;
  color: rgb(241, 245, 249);
}
.bg-competences {
  position: relative;
  color: rgb(241, 245, 249);
}
.bg-form {
  background: 
  radial-gradient(circle at 10% 10%, #1e177d 0%, #000010 20%),
  radial-gradient(circle at 95% 95%, #8b22e7 0%, #000010 20%),
  #000010;
background-blend-mode: lighten;
  color: rgb(241, 245, 249);
}
.bg-competences {
  position: relative;
  color: rgb(241, 245, 249);
}
.bg-competences::before {
  content: '';
  position: absolute;
  inset: 0;
  background: 
    radial-gradient(circle at 10% 80%, #100c3f 0%, #000010 40%),
    radial-gradient(circle at 90% 90%, #300c50 0%, #000010 30%),
    #000010;
  background-blend-mode: lighten;

  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 40%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 40%);
  -webkit-mask-mode: match-source;
  mask-mode: match-source;

  z-index: 0;
}

.bg-competences > * {
  position: relative;
  z-index: 1;
}


@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-accent text-light font-semibold rounded-lg shadow-md ring ring-1 ring-inset ring-accent ring-offset-0;
  }
  @screen lg {
    .btn-primary {
      @apply bg-light/30 text-light ring-light;
    }
  }
  .btn-primary-active {
    @apply py-2 px-5 bg-light/30 text-accent font-semibold rounded-lg shadow-md ring ring-1 ring-inset ring-light ring-offset-0 transition ease-in-out duration-300 hover:bg-accent hover:ring-accent hover:text-light;
  }
}

/* Overlapped Titles component */
/* Setting the overlap so the letters will be a little over each other */
    .overlap {
      --overlap: .15ch;
      --shadow-offset: .1ch;
      --shadow-blur: .2ch;
      --shadow-color: #000010;
      letter-spacing: calc(var(--overlap) * -0.8);
      isolation: isolate;
    }

    /* Setting the value of mult to switch the letters position from front to back*/
    .overlap-front {
      --mult: 1;
    }

    .overlap:hover {
      --mult: -1;
    }

    .overlap>span {
      position: relative;
      z-index: calc(var(--index, 1) * var(--mult, 1));
    }

    .overlap-front {
      text-shadow:
        calc(var(--mult, 1) * var(--shadow-offset, 0) * -1) 0 var(--shadow-blur, 0) var(--shadow-color, black);
    }

/* Following animations are only used for the homepage  */
/* Slide in from right animation for header image components/Home/header */
    @keyframes slideInRight {
      0% {
        transform: translateX(200%);
        opacity: 0;
      }

      50% {
        transform: translateX(0);
        opacity: 1;
      }

      100% {
        transform-origin: top right;
        transform: scale(50%);
        opacity: 1;
      }
    }

    @-moz-keyframes slideInRight {
      0% {
        transform: translateX(200%);
        opacity: 0;
      }

      50% {
        transform: translateX(0);
        opacity: 1;
      }

      100% {
        transform-origin: top right;
        transform: scale(50%);
        opacity: 1;
      }
    }

    @-webkit-keyframes slideInRight {
      0% {
        transform: translateX(200%);
        opacity: 0;
      }

      50% {
        transform: translateX(0);
        opacity: 1;
      }

      100% {
        transform-origin: top right;
        transform: scale(50%);
        opacity: 1;
      }
    }

    @-o-keyframes slideInRight {
      0% {
        transform: translateX(200%);
        opacity: 0;
      }

      50% {
        transform: translateX(0);
        opacity: 1;
      }

      100% {
        transform-origin: top right;
        transform: scale(50%);
        opacity: 1;
      }
    }

    @-ms-keyframes slideInRight {
      0% {
        transform: translateX(200%);
        opacity: 0;
      }

      50% {
        transform: translateX(0);
        opacity: 1;
      }

      100% {
        transform-origin: top right;
        transform: scale(50%);
        opacity: 1;
      }
    }

    .slideFromRight {
      overflow: hidden;
      animation-timing-function: ease-in;
      animation: slideInRight 5s forwards;
      -webkit-animation: slideInRight 5s forwards;
      -moz-animation: slideInRight 5s forwards;
      -o-animation: slideInRight 5s forwards;
      -ms-animation: slideInRight 5s forwards;

    }

/* Slide in from left animation for header text components/Home/header */
    @keyframes slideInLeft {
      0% {
        transform: translateX(-200%);
        opacity: 0;
      }

      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @-moz-keyframes slideInLeft {
      0% {
        transform: translateX(-200%);
        opacity: 0;
      }

      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @-webkit-keyframes slideInLeft {
      0% {
        transform: translateX(-200%);
        opacity: 0;
      }

      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @-o-keyframes slideInLeft {
      0% {
        transform: translateX(-200%);
        opacity: 0;
      }

      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @-ms-keyframes slideInLeft {
      0% {
        transform: translateX(-200%);
        opacity: 0;
      }

      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .slideFromLeft {
      overflow: hidden;
      animation-timing-function: ease-in;
      animation: slideInLeft 3s;
      -webkit-animation: slideInLeft 3s;
      -moz-animation: slideInLeft 3s;
      -o-animation: slideInLeft 3s;
      -ms-animation: slideInLeft 3s;
    }

/* Slide in from top animation for homepage H1 */
    @keyframes slideInTop {
      0% {
        transform: translateY(-200%);
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @-moz-keyframes slideInTop {
      0% {
        transform: translateY(-200%);
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @-webkit-keyframes slideInTop {
      0% {
        transform: translateY(-200%);
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @-o-keyframes slideInTop {
      0% {
        transform: translateY(-200%);
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @-ms-keyframes slideInTop {
      0% {
        transform: translateY(-200%);
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .slideFromTop {
      overflow: hidden;
      animation-timing-function: ease-in;
      animation: slideInTop 3s;
      -webkit-animation: slideInTop 2s;
      -moz-animation: slideInTop 2s;
      -o-animation: slideInTop 2s;
      -ms-animation: slideInTop 2s;
    }

/* Slide in from bottom animation for header homepage links */
    @keyframes slideInBottom {
      0% {
        transform: translateY(200%);
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @-moz-keyframes slideInBottom {
      0% {
        transform: translateY(200%);
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @-webkit-keyframes slideInBottom {
      0% {
        transform: translateY(200%);
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @-o-keyframes slideInBottom {
      0% {
        transform: translateY(200%);
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @-ms-keyframes slideInBottom {
      0% {
        transform: translateY(200%);
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .slideFromBottom {
      overflow: hidden;
      animation-timing-function: ease-in-out;
      animation: slideInBottom 3s;
      -webkit-animation: slideInBottom 2s;
      -moz-animation: slideInBottom 2s;
      -o-animation: slideInBottom 2s;
      -ms-animation: slideInBottom 2s;
    }

/* Fade in animation for header text components/Home/header */
    @keyframes FadeInAnimation {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @-moz-keyframes FadeInAnimation {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @-webkit-keyframes FadeInAnimation {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @-o-keyframes FadeInAnimation {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @-ms-keyframes FadeInAnimation {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .fadeIn {
      overflow: hidden;
      animation: FadeInAnimation 4s ease-in-out;
      -webkit-animation: FadeInAnimation 4s ease-in-out;
      -moz-animation: FadeInAnimation 4s ease-in-out;
      -o-animation: FadeInAnimation 4s ease-in-out;
      -ms-animation: FadeInAnimation 4s ease-in-out;
    }

    @keyframes BorderScale {
      0% {
        transform: scale(0);
        opacity: 0;
      }

      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    @-moz-keyframes BorderScale {
      0% {
        transform: scale(0);
        opacity: 0;
      }

      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    @-webkit-keyframes BorderScale {
      0% {
        transform: scale(0);
        opacity: 0;
      }

      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    @-o-keyframes BorderScale {
      0% {
        transform: scale(0);
        opacity: 0;
      }

      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    @-ms-keyframes BorderScale {
      0% {
        transform: scale(0);
        opacity: 0;
      }

      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    .borderScale {
      overflow: hidden;
      animation: BorderScale 4.5s ease-in-out;
      -webkit-animation: BorderScale 4.5s ease-in-out;
      -moz-animation: BorderScale 4.5s ease-in-out;
      -o-animation: BorderScale 4.5s ease-in-out;
      -ms-animation: BorderScale 4.5s ease-in-out;
    }

/* Animation for the maintenance page  */
    @keyframes MaintenanceAnimation {
      0% {
        transform: rotate(0turn);
      }

      100% {
        transform: rotate(1turn);
      }
    }

    @-moz-keyframes MaintenanceAnimation {
      0% {
        transform: rotate(0turn);
      }

      100% {
        transform: rotate(1turn);
      }
    }

    @-webkit-keyframes MaintenanceAnimation {
      0% {
        transform: rotate(0turn);
      }

      100% {
        transform: rotate(1turn);
      }
    }

    @-o-keyframes MaintenanceAnimation {
      0% {
        transform: rotate(0turn);
      }

      100% {
        transform: rotate(1turn);
      }
    }

    @-ms-keyframes MaintenanceAnimation {
      0% {
        transform: rotate(0turn);
      }

      100% {
        transform: rotate(1turn);
      }
    }

    .maintenanceAnimation {
      overflow: hidden;
      animation: MaintenanceAnimation 10s linear infinite;
      -webkit-animation: MaintenanceAnimation 10s linear infinite;
      -moz-animation: MaintenanceAnimation 10s linear infinite;
      -o-animation: MaintenanceAnimation 10s linear infinite;
      -ms-animation: MaintenanceAnimation 10s linear infinite;
    }

/* Logo Animation  */
svg {
  overflow: visible;
}
g {
  overflow: hidden;
  visibility: hidden;
}